:root {
    --main-blue: #1479ff;
    --second-blue: #E6F1FF;
    --text-blue: #193B68;
    --gray-text: #a8a8a8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.main-window{
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}

.section-separator{
    display: flex;
    flex-direction: row;
    color: var(--main-blue);
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.section-container{
    color: var(--main-blue);
    background-color: var(--second-blue);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    width: 89%;
    transition: all 300ms;
}

.section-container:hover{
    box-shadow: 0px 0px 26px -8px rgba(49, 125, 255, 0.8)
}

h2{
    font-size: 1.2em;
    color: var(--text-blue);
    margin: 0;
    padding: 0;
}

h2:hover{
    cursor: pointer;
}

.bi{
    width: 4vh;
    height: 4vh;
    fill: var(--main-blue);
    transition: fill 300ms;
}

.bi:hover{
    cursor: pointer;
}

.list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.option-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.option-separator{
    padding-right: 10px;
}

.option-separator:hover{
    transform: scale(1.05);
}

.super-section-separator{
    width: 30%;
    background-color: #fff;
    margin: 5vh;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.4)
}

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 30%;
}

.main-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vh;
    background-color: var(--second-blue);
    height: 20vh;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.4)
}

.logout--button{
    padding: 11px;
    font-size: 17px;
    border: 1px solid #193B68;
    border-radius: 10px;
}

h1{
    color: #193B68;
    font-size: 2em;
    margin: 0;
}

a{
    font-size: 0.8em;
    color: #193B68;
    text-decoration: none;
}

/*SCHEDULE*/
.schedule-table{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 70%;
    margin: 5vh;
    box-sizing: border-box;
    overflow: scroll;
}

.schedule-table-row{
    display: flex;
    flex-direction: row;
    transition: all 0.05s linear;
    padding: 1%;
    box-sizing: border-box;
    background-color: var(--second-blue);
}

.schedule-table-row:hover{
    display: flex;
    flex-direction: row;
    background-color: var(--main-blue);
    border-radius: 0.5em;
    min-width: 100%;
    cursor: default;
    
}

.schedule-table-cell{
    min-width: 15%;
    text-align: center;
}

.schedule-table-categories{
    display: flex;
    flex-direction: row;  
    background-color: #1479ff;
    min-width: 100%;
    padding: 1%;
    min-height: 20%;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.schedule-table-categories-cell{
    min-width: 15%;
    text-align: center;
}

.schedule-table-categories-cell span strong{
    color: var(--second-blue);
}

@media screen and (max-width: 850px) {
    .super-section-separator{
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .super-section-separator{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {
    .super-section-separator{
        display: flex;
        flex-direction: column;
    }

    .main-title-container{
        flex-direction: column;
    }

    .logout--button{
        padding: 8px;
        font-size: 15px;
    }
}