*{
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    background-color: #ccc;
}

.pg--title{
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    background-color: #2F80ED;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 15px 24px -8px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 15px 24px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 15px 24px -8px rgba(0,0,0,0.51);
    padding: 3rem;
}

.form--title{
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.input--box,
.submit--btn{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

.form--label{
    font-size: 2rem;
    color: #fff;
}

.form--input{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 12px;
}

.submit--btn{
    background-color: #2F80ED;
    color: #fff;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 12px;
    width: 84%;
    padding: 10px;
    font-size: 2rem;
    transition: background, color 400ms;
}

.submit--btn:hover{
    cursor: pointer;
    color: #2F80ED;
    transition: background, color 400ms;
    background-color: #ccc;
    border: 3px solid #2F80ED;
}

@media screen and (min-width: 850px) {
    .form{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(4, 20%);
        grid-gap: 10px;
        width: 90%;
        max-width: 800px;
    }    

    .form--title{
        width: 100%;
        grid-column: 1/4;
    }

    .input--box{
        width: 100%;
    }

    .submit--btn{
        width: 100%;
        grid-column: 1/4;
    }
}